/*russo font */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.footerContainer{
    background: #18163B;
    padding-top: 50px;
    padding-bottom: 50px;


}
.newLetter{
    color: white;
    font-family: 'Russo One';
    font-size: 50px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;

}

.emailSubscribe{
    height: 57px;
    width: 414px;
    border-radius: 0px;
    color: #ADB6CB !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    background: #18163B;
    border: 2px solid #454466;
    box-sizing: border-box;
    padding: 15px;

}
.emailSubscribe:focus{
    opacity: 0.9;
    color: black !important;
}

.subscribBtn{
    color: white;
    background: #0d0d11;
    box-sizing: border-box;
    width: 159px;
    border-radius: 0px;
    /* padding: 12px 20px 12px 20px; */
    border-style: solid;
    border-width: 2px;
    border-image:linear-gradient(107.19deg, #6B1EF1 2.55%, #CB28E5 61.82%) 1;
  }

  .copyWrite{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #6E7C9D;
    
  }

  .socialIcon{
      margin-left: 40px;
      margin-right: 40px;
  }

  @media screen and(max-width:992px){
    .emailSubscribe{
        width:300px !important;
    }
    .subscribBtn{
        width: 120px !important;
    }
      
  }

  @media screen and(max-width:668px){
    .emailSubscribe{
        width:250px !important;
    }
    .subscribBtn{
        width: 100px !important;
    }
      
  }

  @media only screen and(max-width:480px){
    .emailSubscriber{
        width:200px !important;
    }
    .subscribBtn{
        width: 80px !important;
    }
      
  }
  